extends layout/main-layout.pug 

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    main 
        if prod.length>0                  
            .grid  
                each product in prod
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://images.pexels.com/photos/2846814/pexels-photo-2846814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="A book with coffee on table")
                        div.card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
                        div.card__actions
                            button.btn Add to Cart
    
                
        else 
            h1 No Products To Display    